
<div class="wrapper">        
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
                <p>
                    Civil Engineering
Civil Engineering is one of the core branches of engineering. Civil engineering is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally built environment, including works like roads, bridges, canals, dams, and buildings. A Civil Engineer typically possesses advanced supervisory and managerial abilities. Civil Engineers work in groups or teams with numerous different engineers.
Course details
Diploma in Civil Engineering is a 3 years long Diploma program. It follows the semester system of learning. Each academic year is divided into two semesters, with each semester lasting for a period of 6 months.
Eligibility criteria
Students who have passed 10th standard are eligible to pursue this course.
                </p>
        </div>
    </div>
</div>