
  
    <!--NAVIGATION-->
           <nav>
              <img src="../../../assets/logo.jpg" class="img" alt="logo"> 
              <ul>
                  <li><a href="#">HOME</a></li>
                   <li><a routerLink="academic">ACADEMICS</a></li> 
                  <li><a routerLink="grievance">GRIEVANCE</a></li>
                  <li><a routerLink="gallery">GALLERY</a></li>
                  <li><a routerLink="about">ABOUT</a></li>
                 
              </ul>
           </nav>
    <!--END OF NAVIGATION-->
    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;">WE ENSURE A BETTER EDUCATION  FOR A BETTER WORLD</h1>
  
    <div class="wrapper"> 
          <div class="section">
            <a routerLink="apply"><button class="btn-1">APPLY ONLINE</button></a>
</div>
  </div>
  <marquee direction="right" > 
    <div class="features">
        <button style="background-color: rgb(25, 134, 25);">Learn Online Classes</button>
        <button style="background-color: rgb(25, 134, 25);">Bridge Courses</button>
        <button style="background-color: rgb(25, 134, 25);">Huge Library</button>
        <button style="background-color: rgb(25, 134, 25);">Practical Exposure</button>
    </div>
   </marquee>
      
   
       <div>
           <img src="../../../assets/img2.jpg.jpeg" alt="founder" width="50%">
       </div>

       <div class="founder">
           <p>
            Vennikkulam Gopala Kurup was a poet from Kerala, India. He was born on May 10, 1902 in
             Vennikkulam Pathanamthitta, Kerala. to Cherukattumadathil Padmanabha kurup and Laksmikunjamma.
              He started writing poetry from the age of 15 and after passing Vidwan examination. 
              Gopalakurup worked as teacher for 25 years at M.G.M H.S, Thiruvalla.
               He later worked in Malayalam Lexicon and State Manuscripts Library. 
               He was awarded the titles 'Sahithya nipunan' by the Maharaja of Kochi and 'Sahithyakalanidhi' by
                Kerala Hindiprachara Sabha. 
                In 1967 he got the Odakkuzhal award, Kerala Sahithya Academy award and Thirukkural award for
                 his collection 'Manikyaveena'. 
                 In 1974 Kendra Sahithya Academy award was given for the work 'Kamasurabhi'. 
                 He has represented Kerala in the national poets' meetings held at Delhi,Calcutta and Bangalore.
                  Wife : Mepral Mangattu Madhavi amma. He died on August 29, 1980.
           </p>
       </div>

       
           <div>
            <h2 class="vision">OUR VISION</h2>
               <img src="../../../assets/img3.jpg.jpeg" width="50%" alt="principal" class="im">

               <p class="name1">Biju George(principal)</p>

        </div>

            <!-- </div> -->
           
        
        <div class="vision_text">
           <P>
            
            To become nationally known as the preferred, 
            first-choice partner offering people-oriented solutions to organizations 
            implementing significant technology changes and seeking to improve the performance 
            of human and technology resources.
           </P>
        </div>
       
   
    
       
    <!--SHOWCASE-->
       <div class="scroll">
    <marquee behavior="scroll" direction="right" scrollamount="12">
           <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;">POPULAR COURSES WE OFFER</h1>
    </marquee>
           <div id="courses">
               <div class="cs">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Computer Science</h3>
                   <img src="../../../assets/CSE.jpg" width="50%" alt="cs">
                   <a routerLink="apply" ><button class="apply">Apply Here</button></a>
               </div>
               <div class="business">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Civil</h3>
                   <img src="../../../assets/CIVIL.jpg" alt="civil">
                   <a routerLink="apply" ><button class="apply">Apply Here</button></a>
               </div>
               <div class="journalism">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Auto Mobile</h3>
                   <img src="../../../assets/AUTO.jpg" alt="auto">
                   <a routerLink="apply" ><button class="apply">Apply Here</button></a>
               </div>
              <div class="arts">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">ECE</h3>
                   <img src="../../../assets/ECE.jpg" alt="ec">
                   <a routerLink="apply" ><button class="apply">Apply Here</button></a>
               </div> 
           </div>
       </div>

       <div class="sitter">
           <a href="https://www.sitttrkerala.ac.in/index.php?r=site%2Fhome" target="_blank">Visit sitttrkerala</a>
        </div>
        <div class="dte">
           <a href="http://www.dtekerala.gov.in/index.php/en/" target="_blank">Visit dtekerala</a>
       </div>
    <!--END OF SHOWCASE-->

       
       <footer>
           <p>Copyright &copy; 2022, MVGM GPC VENNIKULAM</p>
       </footer>

