
   
   <div class="wrapper">
    <!--NAVIGATION-->
           <nav>
              <img src="../../../assets/logo.jpg" class="img" alt="logo"> 
              <ul>
                  <li><a href="#">HOME</a></li>
                   <li><a routerLink="academic">ACADEMICS</a></li> 
                  <li><a routerLink="grievance">GRIEVANCE</a></li>
                  <li><a routerLink="gallery">GALLERY</a></li>
                  <li><a routerLink="about">ABOUT</a></li>
                 
              </ul>
           </nav>
    <!--END OF NAVIGATION-->
          
          <div class="section">
              <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">WE ENSURE A BETTER EDUCATION <br> FOR A BETTER WORLD</h1>
              <!-- <h3>Welcome To MVGM GPC Vennikulam</h3> -->
              
              <a href="#"><button class="btn-1">APPLY ONLINE</button></a>
    <!--FEATURES-->
             <div class="features">
                 <button>Learn Online Classes</button>
                 <button>Bridge Courses</button>
                 <button>Huge Library</button>
                 <button>Practical Exposure</button>
             </div>
    <!--END OF FEATURES-->
          </div>
    <!--END OF SECTION-->
       </div>
    <!--END OF WRAPPER-->
       
    <!--SHOWCASE-->
       <div>
           <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">POPULAR COURSES WE OFFER</h1>
           <div id="courses">
               <div class="cs">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Computer Science</h3>
                   <img src="../../../assets/CSE.jpg" width="50%" alt="cs">
                   <a href="#" ><button class="apply">Apply Here</button></a>
               </div>
               <div class="business">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Civil</h3>
                   <img src="../../../assets/CIVIL.jpg" alt="civil">
                   <a href="#" ><button class="apply">Apply Here</button></a>
               </div>
               <div class="journalism">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Auto Mobile</h3>
                   <img src="../../../assets/AUTO.jpg" alt="auto">
                   <a href="#" ><button class="apply">Apply Here</button></a>
               </div>
              <div class="arts">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">ECE</h3>
                   <img src="../../../assets/ECE.jpg" alt="ec">
                   <a href="#" ><button class="apply">Apply Here</button></a>
               </div> 
           </div>
       </div>
    <!--END OF SHOWCASE-->
       
       <footer>
           <p>Copyright &copy; 2022, MVGM GPC VENNIKULAM</p>
       </footer>

