
  
    <!--NAVIGATION-->
           <nav>
              <img src="../../../assets/logo.jpg" class="img" alt="logo"> 
              <ul>
                  <li><a href="#">HOME</a></li>
                   <li><a routerLink="academic">ACADEMICS</a></li> 
                  <li><a routerLink="grievance">GRIEVANCE</a></li>
                  <li><a routerLink="gallery">GALLERY</a></li>
                  <li><a routerLink="about">ABOUT</a></li>
                 
              </ul>
           </nav>
    <!--END OF NAVIGATION-->
    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;">WE ENSURE A BETTER EDUCATION  FOR A BETTER WORLD</h1>
  
    <div class="wrapper"> 
          <div class="section">
            <a routerLink="apply"><button class="btn-1">APPLY ONLINE</button></a>
</div>
  </div>
  <marquee direction="right" > 
    <div class="features">
        <button style="background-color: rgb(25, 134, 25);">Learn Online Classes</button>
        <button style="background-color: rgb(25, 134, 25);">Bridge Courses</button>
        <button style="background-color: rgb(25, 134, 25);">Huge Library</button>
        <button style="background-color: rgb(25, 134, 25);">Practical Exposure</button>
    </div>
   </marquee>
      
    
       
    <!--SHOWCASE-->
       <div>
    <marquee behavior="scroll" direction="right" scrollamount="12">
           <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;">POPULAR COURSES WE OFFER</h1>
    </marquee>
           <div id="courses">
               <div class="cs">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Computer Science</h3>
                   <img src="../../../assets/CSE.jpg" width="50%" alt="cs">
                   <a routerLink="apply" ><button class="apply">Apply Here</button></a>
               </div>
               <div class="business">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Civil</h3>
                   <img src="../../../assets/CIVIL.jpg" alt="civil">
                   <a routerLink="apply" ><button class="apply">Apply Here</button></a>
               </div>
               <div class="journalism">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">Auto Mobile</h3>
                   <img src="../../../assets/AUTO.jpg" alt="auto">
                   <a routerLink="apply" ><button class="apply">Apply Here</button></a>
               </div>
              <div class="arts">
                   <h3 style="margin-right: 86px; font-family: Georgia, 'Times New Roman', Times, serif;">ECE</h3>
                   <img src="../../../assets/ECE.jpg" alt="ec">
                   <a routerLink="apply" ><button class="apply">Apply Here</button></a>
               </div> 
           </div>
       </div>
    <!--END OF SHOWCASE-->
       
       <footer>
           <p>Copyright &copy; 2022, MVGM GPC VENNIKULAM</p>
       </footer>

