.wrapper{
    background: url(../../../../assets/automob.jpg)
    no-repeat center center;
    min-height: 28rem;
    position: relative;
    right: 325px;
    top: 8px;
}
.container{
    position: relative;
    left: 594px;
    bottom: 437px;
}
.details1-auto{
    margin-top: 100px;
}
